## Function:
  - def functionname(arguments):
        statements

In [4]:
#sum of even number digits in a given number
n= int(input("enter the value of n"))
def evendigitsum(n):
  s=0
  while n!=0:
    r=n%10
    if(r%2==0):
      s=s+r
    n=n//10
  print(s)#temporarly stores the value and on future reference it doesnt work

evendigitsum(n)

enter the value of n1234

6

In [3]:
#find max value digit of the guven number
n=int(input("enter n value"))
def MaxDigit(n):
  max=0
  while n!=0:
    r=n%10
    if(r>max):
      max=r
    n=n//10
  return max#return allocates memory and stores the value and on future reference it reutrns the value of the variable

y=maxdigit(n)

enter n value19535
9

In [0]:
#factorial
#strong number
#palindrome

### Collection types:
  - 1.list
  - 2.tuple
  - 3.set
  - 4.dictionary
- Data Structures avaiable in python

## List
- One of the DataStructures available in python
- List is enclosed in []
- Elements in a list are seperated by comma(,)
- elements have both positive and negtive indexing
- positive indexing starts from first element as 0 and form the last negative index will be -1

In [7]:
list1=[1,4,2,3]
print(list1)
type(list1)

[1, 4, 2, 3]

list

In [10]:
l=[1,4,6,3,8]
print(l[-1])
print(l[-3])
print(l[2:4])#accessing elements from index 2 to index 3
print(l[0:4:2])
print(l[0:-2])
print(l[-1:])
print(l[-3:])

8
6
[6, 3]
[1, 6]
[1, 4, 6]
[8]
[6, 3, 8]

In [17]:
##Basic functions of list:
l=[2,3,6,8,4]
l1=['a','e','f']
print(max(l))
print(min(l))
print(sum(l))
print(len(l1))
print(sum(l)/len(l))
l[0]='GITAM'
l[3]='Psyduck'
print(l)
del l[1]
print(l)
l

8
2
23
3
4.6
['GITAM', 3, 6, 'Psyduck', 4]
['GITAM', 6, 'Psyduck', 4]

['GITAM', 6, 'Psyduck', 4]

In [20]:
l=[3,5,7,2,9]
print(l*2) # repetition operation 
# to check certain value exists in the list or 
print(2 in l)
print(4 in l)
print(10 in l)

[3, 5, 7, 2, 9, 3, 5, 7, 2, 9]
True
False
False

In [22]:
print(l)
for i in l:
  print(i)

[3, 5, 7, 2, 9]
3
5
7
2
9

In [23]:
for i in [2,6,4,26,0]:
  print(i)

2
6
4
26
0

In [25]:
for i in range(len(l)):
  print(l[i])

3
5
7
2
9

In [35]:
#list methods
l=[65,4,3,78,1,9,0,4]
l.append("pikachu")
l
l.insert(2,"pichu")
l
l.count(4)
l.pop()
l.extend(l1)
l

[65, 4, 'pichu', 3, 78, 1, 9, 0, 4, 'a', 'e', 'f']

In [38]:
li=[95,4,23,56,5,6,3]
li.sort()
print(li)
li.reverse()
print(li)

[3, 4, 5, 6, 23, 56, 95]
[95, 56, 23, 6, 5, 4, 3]

In [46]:
#function to print the biggest number fro the list
n=int(input("the list is"))
lst=[]
for i in range(0,n):
  ele=int(input())

  lst.append(ele)
print(lst)

the list is6
9,8,65,0,4,1

ValueError: ignored

# Tuple:
- Tuples are enclosed in paranthesis()
- Tuples are immutable i.e, elements inside a tuple can't be deleted
- Modifications are not possible in tuple
- Tuples are used to access the data
## Difference between list and tuples:
- list----->[], tuples---->()
- List is mutable(can be changed), tuples are immutable.

In [47]:
t1=(3,5,'y',10.5,9)
print(t1)
print(type(t1))
t1[0:2]

(3, 5, 'y', 10.5, 9)
<class 'tuple'>

(3, 5)

# Dictionary:
- enclosed in{}
-consists of key value pairs
- each key is seperatednto its value by colon(:)
- each key value pair is seperated by comma(,)
- keys must be unique while creating a dictionary

In [48]:
d1={"name":"GITAM","email":"abc@gmail.com","place":"Hyderabad"}
print(d1)
print(type(d1))

{'name': 'GITAM', 'email': 'abc@gmail.com', 'place': 'Hyderabad'}
<class 'dict'>

In [51]:
d1['name']
d1["email"]="xyz@gmail.com"
d1

{'email': 'xyz@gmail.com', 'name': 'GITAM', 'place': 'Hyderabad'}

In [53]:
d1["course"]="Python"
d1

{'course': 'Python',
 'email': 'xyz@gmail.com',
 'name': 'GITAM',
 'place': 'Hyderabad'}

In [0]:
del d1['course']

In [56]:
d1.keys()

dict_keys(['name', 'email', 'place'])

In [58]:
d1.values()

dict_values(['GITAM', 'xyz@gmail.com', 'Hyderabad'])

In [59]:
d1

{'email': 'xyz@gmail.com', 'name': 'GITAM', 'place': 'Hyderabad'}

In [62]:
dict1={'NAME':'GITAM','Email':'abc@gmail.com','Address':'Hyderabad','NAME':'ABC'}
print(dict1)

{'NAME': 'ABC', 'Email': 'abc@gmail.com', 'Address': 'Hyderabad'}

# Strings

In [68]:
s='Python'
print(s[0])
print(s[0:3])
print(s[0:4:2])
print(s[0:-4])
print(s[::2])
print(s[::-1])

P
Pyt
Pt
Py
Pto
nohtyP

In [77]:
#to check if the given string is palindrome
def palin(n1)
if(s==s[::-1]):
  print("palindrome")
else:
  print("not a palindrome")

palin('mom')

SyntaxError: ignored

#string methods:
- join() method to concatenate
- split() displayed in the form of list

In [80]:
s
print(" ".join(s))

P y t h o n

In [82]:
s1="python is easy"
print(s1.split('a'))

['python is e', 'sy']

In [87]:
s2="python programming"
print(s2.split())

['python', 'programming']

In [88]:
s2
print(s2.replace("programming","application"))

python application