In [0]:
a="100"
print(type(a))
b=float(a)
print(type(b))
print(b)

<class 'str'>
<class 'float'>
100.0

#operators:
#### 1.Arithmetic Operators:+,-,*,/,%,//,**
#### 2.Logical Operators:&,|,!
#### 3.Relational opeartors:<,>,<=,>=,==,!=
#### 4. Membership Operators: in and not in

In [0]:
x=3
y=5
x+y

8

In [0]:
x=9
y=3
print(x+y)
print(x-y)
print(x/y)
print(x*y)
print(x%y)
print(x//y)
print(x**y)

12
6
3.0
27
0
3
729

In [0]:
a=20
b=30
print(a>=0 and a<=12)
print(b>=25 and b<=52)
print(a>=10 or a<=15)
print(not a)

False
True
True
False

In [0]:
a=9
b=22
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)
print(a==b)
print(a!=b)

False
True
True
False
False
True

In [0]:
str1='abc'
print('c' in str1)
print('a' not in str1)

True
False

##Conditional statements
#### 1.if
#### 2.if-else
####3.elif

In [0]:
a=int(input('enter a number'))
if(a%2!=0):
  print('odd number')
else:
  print('even number')

enter a number45
odd number

In [0]:
a=int(input("enter a value"))
if a%3==0 and a%5==0:
  print("it is divisible by 3 and 5")
else:
  print('not divisible')

enter a value8
not divisible

syntax:
    if condition:
      statements
    elif condition2:
      statements

Syntax:
    if:
      statements


    if:
      statements

    else:
      statements

In [0]:
a=int(input('enter a value'))
if (a%400==0)or(a%4==0 and a%100!=0):
  print('leap year')
else:
  print("not  a leap year ")

enter a value2016
leap year

In [0]:
n=int(input('enter n value'))
if n>0:
  print('positive number')
elif n<0:
  print('negattive number')
elif n==0:
  print('number is zero')

enter n value-10
negattive number